body{
    background-image: url("./Tropeterningbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: Seaweed;
}